<div class="card-body py-5 mx-auto" style="max-width: 30rem">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html:{class:"d-grid gap-3"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs  font-weight-bold">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" , class: "form-control form-control-lg"},
                label_html: { class: "form-label" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "form-control form-control-lg" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "form-control form-control-lg" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"btn btn-primary btn-lg btn-block"%>
  </div>
<% end %>
  <div class="fs-5"  style="font-weight:600">
    <%= render "devise/shared/links" %>
  </div>

</div>