<div class="card-body py-5 mx-auto" style="max-width: 30rem">
  <h2 class="fs-2" >Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html:{class:"d-grid gap-3"}) do |f| %>
    <div class="form-outline" >
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" , class: "form-control form-control-lg"} %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: "form-control form-control-lg" } %>
      <%= f.input :remember_me, as: :boolean, input_html: { class: "form-check-input me-2" } if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class:"btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
  <div class="fs-6" style="font-weight:600">
    <%= render "devise/shared/links"%>
  </div>
</div>